<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ARprog.png" id="logo-arp">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/facebook.png" alt="facebook"></a>
                <a href=""><img src="../../../assets/GitHub.png" alt="GitHub"></a>
                <a href=""><img src="../../../assets/instagram.jpg" alt="instagram"></a>
                <a href=""><img src="../../../assets/Linkedin.png" alt="Linkedin"></a>
                <a href=""><img src="../../../assets/twiter.png" alt="twiter"></a>
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Single toggle
                  </button>
            </div>
        </div>
    </div>
</div>

