<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/CV VITAE.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Arias Leonardo Juan </p>
        <p>FULL STACK Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima maxime dolores deleniti voluptatum deserunt! Quidem 
                veritatis quo laboriosam ea dolorum maxime magni
                 voluptatibus veniam cumque.
                  Earum nihil rerum quisquam dicta. 
                  Nacional de la Matanza</p>

        </span>
    </div>
</div>
