<div class="row">
    <h1>Hard & skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [percent]="85"
        [radius]="100"
        [title]="'html'"
        [titleColor]=" 'red' "
        [showUnits]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16"
        [showSubtitle]="false"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [percent]="85"
        [radius]="100"
        [title]="'html'"
        [titleColor]=" 'red' "
        [showUnits]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16"
        [showSubtitle]="false"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [percent]="85"
        [radius]="100"
        [title]="'html'"
        [titleColor]=" 'red' "
        [showUnits]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16"
        [showSubtitle]="false"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [percent]="85"
        [radius]="100"
        [title]="'html'"
        [titleColor]=" 'red' "
        [showUnits]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16"
        [showSubtitle]="false"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [percent]="85"
        [radius]="100"
        [title]="'html'"
        [titleColor]=" 'red' "
        [showUnits]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16"
        [showSubtitle]="false"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>

   
</div>